* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  /* text-decoration: none; */
  /* ↑↑↑ cancel underline */
}

.body-background {
  background: whitesmoke;
}

.div-header {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.div-header-en {
  height: 70px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.div-contents {
  width: 800px;
  margin: 50px auto;
  background: white;
  padding: 50px 10px;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.div-footer {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0 auto;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.div-titlelogo {
  max-width: 800px;
  margin: 0 auto;
}

.div-titlelogo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
}

.div-sitemap {
  max-width: 800px;
  margin: 0 auto;
}

.div-sitemap img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
}

.h1-title {
  text-align: center;
  margin: 0px 0px 50px 0px;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.h2-profile {
  margin: 30px 10px;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.h3-profile {
  margin: 30px 0px 10px 0px;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.h3-last-message {
  margin: 50px 10px;
  text-align: center;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.h4-profile {
  margin: 10px 20px;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.h4-header {
  text-align: center;
  margin: auto 0;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.h4-footer {
  text-align: center;
  margin: auto 0;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.p-profile {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0px 0px 0px 20px;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.p-profile-right {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 20px;
  text-align: right;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

.p-profile-last-message {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 20px;
  text-align: center;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
/*
#overlay{
  position: fixed;
  top:0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  transition: all 0.5s ease-out;
}
*/
#overlay {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-out;
}
/*
#overlay.overlay-on{
  visibility: visible;
  opacity: 1;
}
*/
#overlay.overlay-on {
  visibility: visible;
  opacity: 1;
}
/*
.flex{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
*/
.flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
#overlay-inner{
  padding:10px 60px;
  background-color:#FFF;
  text-align:center;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}
*/
#overlay-inner {
  padding: 10px 60px;
  background-color: #FFF;
  text-align: center;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  width: 800px;
  height: 90%;
}
/*
#open-btn, #close-btn{
  display:block;
  margin:20px auto;
  padding:10px 30px;
  background-color:#eee;
  border:solid #ccc 1px;
  cursor: pointer;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  color: inherit;
}
*/
#open-btn, #close-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #eee;
  border: solid #ccc 1px;
  cursor: pointer;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu-Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  color: inherit;
}
